<section>
  <div class="row">
    <div class="container s10">
    <h2>Create New Post</h2>
    <form class="col s12 new-post-form">
      <div class="row">
        <div class="input-field col s12">
          <input id="post-title" type="text">
          <label for="password">Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="post-content" name="post-content" class="materialize-textarea"></textarea>
          <label for="textarea1">Content</label>
        </div>
      </div>
      <button type="submit">Create</button>
    </form>    </div>
  </div>

</section>
{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
<script src="/javascript/add-post.js"></script>
