{{> post-info post}}

{{#if loggedIn}}
<div class="container">
<button class="btn upvote-btn waves-effect waves-light" type="button" class="upvote-btn">upvote
    <i class="material-icons right">how_to_vote</i>
</button></div>
{{/if}}
<div class="container col s8">
    <h4 class="center-align">Comments</h4>

    {{> comments post.comments }}
</div>

{{#if loggedIn}}
<div class="container">
    <form class=" container comment-form col s10">
        <div class="container col s10">
            <div class="input-field">
                <textarea class="materialize-textarea" name="comment-body"></textarea>
                <label for="comment-body">comment text</label>

            </div>
            <div>
                <button class="btn waves-effect waves-light" type="submit"> add comment
                    <i class="material-icons right">add_comment</i></button>
            </div>
        </div>
    </form>
</div>

<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}